{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <style>
    .breadcrumbs li:nth-child(n+2):before {
      content: "/";
      margin-right: 0.5em;
    }
  </style>
  <nav aria-label="breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ul class="list-inline breadcrumbs text-capitalize" style="font-weight:500;">
      {% for item in breadcrumb %}
        <li class="list-inline-item">
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
